.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & .pesquisa-input {
    width: 75%;
  }
  & .pesquisa-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
