<form class="form" [formGroup]="form">
    <div class="form-title">
      <h2 class="headline">Login</h2>
      <p>Entre com sua conta para gerenciar suas tarefas</p>
    </div>
    <div class="form-fields">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" placeholder="Digite seu nome" matInput type="text">
        @if (obterMensagemErro("nome")) {
          <mat-error>{{obterMensagemErro("nome")}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input formControlName="email" placeholder="Digite seu email" matInput type="text">
        @if (obterMensagemErro("email")) {
          <mat-error>{{obterMensagemErro("email")}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" placeholder="Digite sua senha" matInput type="text">
        @if (obterMensagemErro("senha")) {
          <mat-error>{{obterMensagemErro("senha")}}</mat-error>
        }
      </mat-form-field>
      <div class="form-actions">
        <button matButton="filled" (click)="submit()">Criar conta</button>
        <span id="ou">ou</span>
        <a routerLink="/login" matButton>Fazer login</a>
      </div>
    </div>
  </form>
